{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>Vaibhav K</title>
    <link rel="stylesheet" href="{% static '/css/main.css' %}" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body style="background-color:#F8F8F8;">
    <br>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body"></div>
            </div>

            <div class="col-md-9">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>

            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>

            <div class="col-md-6">
                <div class="card card-body"></div>
            </div>
        </div>
        <br>
</body>

</html>